<div>   
    <section class="container-liquid">
        <section class="row clearfix">
            <section class="column">
                <section class="col-md-12 col-xs-12 col-sm-12 pt-0" id="leftsidebar">
                    <section class="tile" fullscreen="isFullscreen02">
                        <div class="tile-header pl-0" id="acc-icon">

                            <div class="tile-header dvd dvd-btm pl-0 pr-0">
                                <h3 class="custom-font">Addresses</h3>
                            </div>
                            <ul class="controls hidden-xs hidden-sm" ng-if="!isView">
                                <li id="add"><a ng-controller="addressModel" ng-click="open('md',addtype,addid,'new')" href="" tooltip-placement="bottom" tooltip="Add" tile-control><i class="fa fa-plus"></i></a></li>
                                <li ng-if="addressObjects.length!==0"><a ng-controller="addressModel" ng-click="open('md',addtype,addid,'edit');editAddress()" tile-control tooltip-placement="bottom" tooltip="Edit"><i class="fa fa-pencil "></i></a></li>
                                <li ng-if="addressObjects.length!==0"><a tile-control tooltip-placement="bottom" tooltip="Delete" ng-click="deleteAddress()"><i class="fa fa-trash "></i></a></li>
                            </ul>
                            <ul class="controls visible-xs visible-sm" ng-if="!isView">
                                <li class="dropdown" dropdown on-toggle="toggled(open)">
                                    <a href dropdown-toggle class="dropdown-toggle settings">&bull;&bull;&bull;</a>
                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                        <li id="add"><a ng-controller="addressModel" ng-click="open('md',addtype,addid,'new')"><i class="fa fa-plus"></i>Add</a></li>
                                        <li ng-if="addressObjects.length!==0"><a ng-controller="addressModel" ng-click="open('md',addtype,addid,'edit')" href=""><i class="fa fa-pencil "></i>Edit</a></li>
                                        <li ng-if="addressObjects.length!==0"><a href="" ng-click="deleteAddress()"><i class="fa fa-trash "></i>Delete</a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                        <div class="tile-body " style="text-align: center; padding-bottom: 20px !important; padding-top: 10px !important; ">
                            <span style="position: absolute; text-align: center;" ng-if="addressObjects.length===0"><i>No Addresses available</i></span>
                            <table st-table="accounts" class="st-table table table-custom table-striped table-responsive" ng-init="reverse=false" ng-if="addressObjects.length!==0">
                                <thead>
                                    <tr>
                                        <th class="col-md-1"></th>
                                        <th class="col-md-2">
                                            Address Type
                                        </th>
                                        <th class="col-md-9">
                                            Address
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ui-sortable="" class="tablecontainer addrbooksort" ng-model="addressObjects">
                                    <tr class="gridlist placeholder" ng-repeat="row in addressObjects">
                                        <td class="col-md-1 text-left">
                                            <!--<span class="sorticon pull-left"><img src="content/images/iconsnew/sorticon.png" /></span>-->
                                            <input type="checkbox" id="{{row.Id}}" class="k-checkbox rme" ng-checked="selection.indexOf(row) > -1" ng-click="toggleSelection(row)">
                                            <label class="k-checkbox-label" for="{{row.Id}}"></label>
                                        </td>
                                        <td class="col-md-2 text-left">{{row.AddSectionType}}</td>
                                        <td class="col-md-9 text-left">
                                            <label ng-if="row.AddressBook.UnitNo">{{row.AddressBook.UnitNo+' '}}</label>
                                            <label ng-if="row.AddressBook.BlockHouseNo">{{row.AddressBook.BlockHouseNo+' '}}</label>
                                            <label ng-if="row.AddressBook.BuildingEstate">{{row.AddressBook.BuildingEstate+' '}}</label>
                                            <label ng-if="row.AddressBook.Street">{{row.AddressBook.Street+' '}}</label>
                                            <label ng-if="row.AddressBook.City">{{row.AddressBook.City+' '}}</label>
                                            <label ng-if="row.AddressBook.Country">{{row.AddressBook.Country+' '}}</label>
                                            <label ng-if="row.AddressBook.PostalCode">{{row.AddressBook.PostalCode}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </section>
                </section>
            </section>
        </section>
    </section>
</div>
<script type="text/ng-template" id="myAddrBook.html">
    <div class="tile acc-form cust1">
        <div class="modal-header">
            <h3 class="custom-font"><strong>{{type==='new'?'Add':'Edit'}} Address</strong></h3>
        </div>
        <div class="modal-body">
            <form name="addrBook" id="addrBook" form-validate role="form">
                <div class="row">
                    <div class="demo-section k-content col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="addtype" class="required">Address Type</label>
                            <select id="addType" ng-model="addressObject.AddSectionType" name="" class="k-textbox w100p form-control mand custcaret" data-validationtype="required">
                                <option value="">Select Option</option>
                                <option value="Registered address">Registered Address</option>
                                <option value="Mailling address">Mailing Address</option>
                                <!--<option value="Residence address">Residence Address</option>-->
                            </select><i></i>
                        </div>
                    </div>

                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="addsectopntype" class="required">Local / Foreign Address</label>
                            <select id="addSectionType" ng-model="addressObject.AddressBook.IsLocal" name="Address Section Type" class="k-textbox w100p form-control mand custcaret" data-validationtype="required" ng-change="addressSectionChanged(addressObject.AddressBook.IsLocal)">
                                <option value="">Select Option</option>
                                <option value="localaddress">Local Address</option>
                                <option value="foreignaddress">Foreign Address</option>
                            </select><i></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pl-0 pr-0">
                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12 customdd" ng-class="{'inputonView' : isView}">
                        <div class="box-col" ng-if="addressObject.AddressBook.IsLocal==='localaddress'">

                            <label for="postalcode" class="required">Postal Code</label>
                            <span class="z-invalid" style="position: absolute; top: -px; padding: 3px;" ng-show="isRpostval"><i class="fa fa-exclamation-circle"></i>&nbsp;Invalid Postal Code</span>
                            <div angucomplete-alt id="postalAutocmptl"
                                 placeholder="Postal Code"
                                 pause="10"
                                 initial-value="addressObject.AddressBook.PostalCode"
                                 selected-object="selectedObject"
                                 remote-url="http://49.207.6.75/awapibean/api/ElasticSearch/AutoCompletePostalCodes?indexName=postalcodes&indexField=PostalCode&noOfRecords=20&input="
                                 title-field="PostalCode"
                                 maxlength="6"
                                 description-field="StreetName" ng-keydown="acceptInput($event)" ng-keyup="postalCodeChanged()" class="w100p" focus-out="postalVal('Rlocal')"></div>
                        </div>
                        <div class="box-col" ng-if="addressObject.AddressBook.IsLocal==='foreignaddress'">
                            <div class="box-col">
                                <label for="postalcode" class="required">Postal Code</label>
                                <input type="text"
                                       id="mfpostalcode" name="SFPostalCode" data-validationtype="fpostalcode" data-validationrequired="true" ng-model="addressObject.AddressBook.PostalCode" class="k-textbox w100p" placeholder="Postal Code" />
                            </div>
                        </div>
                    </div>

                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label id="unitno">Unit No</label>
                            <input type="text" name="UnitNo" id="UnitNo" ng-model="addressObject.AddressBook.UnitNo" class="k-textbox w100p" placeholder="Unit No" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="blockno" class="required">{{addressObject.AddressBook.IsLocal==='localaddress'?'Block/House No':'Dependent Locality'}}</label>
                            <input type="text" id="blockno" ng-model="addressObject.AddressBook.BlockHouseNo" name="Block No" class="k-textbox w100p" placeholder="{{addressObject.AddressBook.IsLocal==='localaddress'?'Block/House No':'Dependent Locality'}}" ng-disabled="isDisableRequired" />
                        </div>
                    </div>

                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="unitno" class="required">Street</label>
                            <input type="text" id="street" name="Street" ng-model="addressObject.AddressBook.Street" class="k-textbox w100p" placeholder="Street" ng-disabled="isDisableRequired" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="building" class="required">Building</label>
                            <input type="text" id="building" name="Building" ng-model="addressObject.AddressBook.BuildingEstate" class="k-textbox w100p" placeholder="Building" ng-disabled="isDisableRequired" />
                        </div>
                    </div>
                    <div class="demo-section k-content form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="city" class="required">City</label>
                            <input type="text" id="city" name="City" ng-model="addressObject.AddressBook.City" class="k-textbox w100p" placeholder="City" ng-disabled="isDisableRequired" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="demo-section k-content mb-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="box-col">
                            <label for="state" class="required">{{addressObject.AddressBook.IsLocal==='localaddress'?'State':'State/Province'}}</label>
                            <input type="text" id="state" name="State" ng-model="addressObject.AddressBook.State" placeholder="{{addressObject.AddressBook.IsLocal==='localaddress'?'State':'State/Province'}}" class="k-textbox w100p" ng-disabled="isDisableRequired" />
                        </div>
                    </div>
                    <div class="demo-section k-content mb-5 col-md-6 col-sm-6 col-xs-12 auto">
                        <div class="box-col" ng-if="addressObject.AddressBook.IsLocal==='localaddress'">
                            <label for="search" class="required">Country</label>
                            <input type="text" id="search" name="Country" ng-model="addressObject.AddressBook.Country" placeholder="Country" ng-disabled="addressObject.AddressBook.IsLocal==='localaddress'" class="k-textbox w100p mand" />
                            <!--<input kendo-auto-complete ng-model="country" k-data-source="countryNames" class=" w100p" />-->
                            <span class="k-invalid-msg" data-for="search"></span>
                        </div>
                        <div class="box-col" ng-if="addressObject.AddressBook.IsLocal==='foreignaddress'">
                            <div class="box-col">
                                <label for="Country" class="required">Country</label>
                                <input kendo-auto-complete
                                       k-data-text-field="'name'"
                                       k-data-source="Countries"
                                       ng-model="addressObject.AddressBook.Country" type="text" data-validationtype="required" id="Country" name="Country" ng-class="{'mand':addressObject.AddressBook.IsLocal==='foreignaddress'}" class="w100p" placeholder="Country" />
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="row col-md-12 bg-footer">

            <div class="pull-right col-md-6 text-right">
                <button type="submit" class="mui-btn mui-btn-primary mui-btn-raised bg-green" ng-click="save()">Save</button>
                <button type="reset" class="mui-btn mui-btn-default mui-btn-raised" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>